.project
*.a
Makefile
*.o
.deps
.cproject
.dirstamp
*.log
/config.h
/config.h.in~
/config.status
/configure
/configure.scan
/example/bdexample
/example/ld.exe.stackdump
/tests/bdmetric_test
/tests/bdmgr_multitest
/tests/bdmidids_test
/tests/bdmsgs_test
/tests/bdnode_multitest1
/tests/bdnode_test
/tests/bdnode_test2
/tests/bdquery_test
/tests/bdspace_test
/tests/bdspace_test2
/tests/bdstore_test
/tests/udpbitdht_nettest
autom4te.cache/
*.exe
